{% extends "base.html" %}
{% load staticfiles%}   
{% block title %}
	Job Descripton
{% endblock %} 
{% block content %}
	<h2> Ask the right questions</h2>
	<p>
		<ol class="list-group">
		<li class="list-group-item"><b>Ask about their experience</b>
		Look for what they did and how well that experience qualifies them for the job</li> 
 
		<li class="list-group-item"><b>Ask about their education </b>
		Related college courses or certificates are highly valued and shows that they are taking this career choice seriously</li>
 
		<li class="list-group-item"><b>Ask about their skills</b>
		Look for their top job related strengths</li>
 
		<li class="list-group-item"><b>Look at the application and review the salary range</b> at their previous or current employment</li>
 
		<li class="list-group-item"><b>Ask a couple of questions to see if there might be some potential conflict</b>or attitude issues down the road. Ask, “Who was their favorite manager and why?” then ask, “who was their least favorite manager and why?”  The second question is the trick question.  You can get some valuable information from a person who you might suspect as dubious.</li>
 
		<li class="list-group-item"><b>Ask what they liked the most about their last job</b> The type of answers you want, relates to learning, growth, respect, and loyalty.  If you get answers pertaining to non-job related duties, such as making a lot of friends, or got to go home early when it was slow, you might have more of a social butterfly who is not focused on the true meaning of a job.</li>

		<li class="list-group-item"><b>Ask about the best praise or recognition they’ve received</b> and what made it so good.</li>
 
		<li class="list-group-item"><b>Ask about their greatest strengths and weaknesses</b>  To help determine strengths, ask them about their best day in the past year and what were they doing and why they liked it so much.  To help determine weakness, the same applies for their worst day and why they disliked it so much.  This is a bit of an uncomfortable question to answer, but it can determine the overly confident from the sheepish person.</li>
 
		<li class="list-group-item"><b>Ask what is the best way they learn </b>and when in their career did they learn the most and why.  This can help you determine how best to train this person if you hire them.</li>
	</ol>


	</p>
{% endblock %}

