{% extends "base.html" %}
{% load staticfiles%}   
{% block title %}
	Ask The Right Questions
{% endblock %} 
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color:#ffa133;">Ask The Right Questions!</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
        	<ol>
			<li> <label>Tell me about your previous experience</label> </li>
			 
			<li><label>Tell me about your education </label> </li>
			 
			<li><label>Tell me about your skills</label></li>
			 
 			<li><label> General Question </label> </li>
			 
			<li> <label> What did you like the most about your last job</label></li>
					
			<li><label>The best praise or recognition you received till date</label> </li>
			 
			<li><label>Your greatest strengths and weaknesses</label></li>
			
			<li><label>What is the best way you learn </label></li>
			</ol>
			<br/>
        </div>
    </div>	

    <form action="{{STATIC_URL}}questionnaire.pdf">
    <button type="submit" id='submit' class="btn btn-primary btn-lg">Download form</button>
</form>
{% endblock %}
