{% extends "base.html" %}
{% load staticfiles%}   
{% block title %}
	Job Descripton
{% endblock %} 
{% block content %}
	<h2> Ask the right questions</h2>
	<p>
		
		<label>Tell me about your previous experience</label>
		<textarea></textarea><br/>
 
		<label>Tell me about your education </label>
		<textarea placeholder="Related college courses or certificates" ></textarea><br/>
 
		<label>Tell me about your skills</label>
		<textarea placeholder="Top strengths"></li><br/>
 
 		<label> General Question </label>
		<textarea placeholder="Who was their favorite manager and why?"></textarea><br/>
 
		<label> What did you like the most about your last job</label>
		<textarea></textarea><br/>
		
		<label>The best praise or recognition you received till date</label> 
		<textarea placeholder="what made it so good"></textarea><br/>
 
		<label>Your greatest strengths and weaknesses</label>
		 <textarea> </textarea>	<br/>	

		 <label>What is the best way you learn </label>
		 <textarea placeholder="how best to train you if you are hired"></textarea><br/>
	</ol>


	</p>
{% endblock %}

