{% extends "base.html" %}
{% load staticfiles%}   
{% block title %}
	Ask The Right Questions!
{% endblock %} 
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color:#ffa133;">Ask The Right Questions!</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
        	<ol>
				<li><b> Stay away from all questions and conversation that is not related to the job unless they are just some nice pleasantries like hobbies or the weather.</b></li>
				<li><b>Absolutely refrain from making any illegal type of statements or asking discriminatory questions.</b></li>
				<li><label>Should not ask questions relating to:</label> 
					<ul>
						<li>Race</li>
						<li><label>Color</label></li>
						<li><label>Sex</label></li>
						<li><label>Religion</label></li>
						<li><label>National origin</label></li>
						<li><label>Birthplace</label></li>
						<li><label>Age</label></li>
						<li><label>Disability</label></li>
						<li><label>Marital/family status </label></li>
					</ul>
				</li>
			</ol>
			<br/>
			<b>It is also a good idea to have at least two people responsible for interviewing and hiring applicants.  Not only will you get a second opinion, it can help support the decision not to hire if the unsuccessful applicant 	files a discrimination charge.
			</b>
        </div>
    </div>	
{% endblock %}
