{% extends "base.html" %}
{% load staticfiles%}   
{% block title %}
	Ask The Right Questions
{% endblock %} 
{% block content %}
<h2> Questions you should not ask </h2>
<ol>
	<li><label>Stay away from all questions and conversation that is not related to the job unless they are just some nice pleasantries like hobbies or the weather. </label></li>
	<li><label>Absolutely refrain from making any illegal type of statements or asking discriminatory questions.</li></label>
	<li><label>Should not ask questions relating to:</label> 
	<ul>
		<li><label>Race</li>
		<li><label>Color</label></li>
		<li><label>Sex</label></li>
		<li><label>Religion</label></li>
		<li><label>National origin</label></li>
		<li><label>Birthplace</label></li>
		<li><label>Age</label></li>
		<li><label>Disability</label></li>
		<li><label>Marital/family status </label></li>
	</ul>
</li>
</ol>

<h5>**It is also a good idea to have at least two people responsible for interviewing and hiring applicants.  Not only will you get a second opinion, it can help support the decision not to hire if the unsuccessful applicant files a discrimination charge.</h5>
{% endblock %}