{% extends "base.html" %}
{% load staticfiles%}    
{% block content %}    
    <!-- About Section -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 style="color:#FF961D;">About</h2>
            <hr class="star-primary">
        </div>
    </div>
    <section class="success" id="about">
        <div class="container">            
            <div class="row">                
                    <p>Lorem ipsum dolor sit amet, nec at tale necessitatibus, stet elit inciderint eos ut. Mea eu atqui quaestio, has nibh ubique aperiri ad, ut magna doctus utroque vis. Affert ceteros qui eu. Tantas incorrupte voluptatibus pro ne, eam ne accumsan mentitum petentium. In est wisi tempor.</p>
            </div>                
                <div class="row">
                    <p>Saperet nominati hendrerit est ei. Inani vidisse oporteat his ad. Quo ex laboramus abhorreant, an nam munere omnesque lobortis, id est vitae tincidunt. Sit iisque debitis te. Ne vidisse voluptatibus eam, an minim persecuti sadipscing mei, alii commodo euismod et mei. Altera deseruisse mei ei, eos phaedrum gubergren ad, vide habeo adversarium te eum. Summo phaedrum his eu, eam dicant oportere te.</p>
                </div>
            </div>
    </section>
{% endblock %}    