{% extends "base.html" %}
{% load staticfiles%}    
{% block content %}
<!-- features Grid Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:#FF961D;">features</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 features-item">
                    <a href="/jd" class="features-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i > Improve Job Description! </i>
                            </div>
                        </div>
                        <img src="{% static "img/features/jd2.jpg"%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 features-item">
                    <a href="/questions" class="features-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
								<i> Get A Questionnaire!</i>
                            </div>
                        </div>
                        <img src="{% static "img/features/cake.jpg"%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 features-item">
                    <a href="/suggestions" class="features-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
								<i> Get Tips!</i>
                            </div>
                        </div>
                        <img src="{% static "img/features/circus.jpg"%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 features-item">
                    <a href="#featuresModal4" class="features-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "img/features/game.png"%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 features-item">
                    <a href="#featuresModal5" class="features-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "img/features/safe.png"%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 features-item">
                    <a href="#featuresModal6" class="features-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "img/features/submarine.png"%}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
